* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

img, picture {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.6em;
}

section {
  margin-bottom: 10rem !important;
}

.hide-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: inherit;
  }
}
:root {
  --green: hsl(153deg, 71%, 59%);
  --black: hsl(0deg, 0%, 8%);
  --dark-grey: hsl(0deg, 0%, 14%);
  --grey: hsl(0deg, 0%, 85%);
  --white: hsl(0deg, 0%, 100%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  color: var(--white);
}

p, span {
  color: var(--grey);
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.11rem;
  line-height: 4rem;
}

h2 {
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

p {
  line-height: 2.6rem;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 4.8rem;
    letter-spacing: -0.15rem;
    line-height: 5.6rem;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 8.8rem;
    letter-spacing: -0.2rem;
    line-height: 8.8rem;
  }
}
button {
  background: none;
  border: none;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

button,
.btn {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
button::after,
.btn::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--green);
  border-bottom: 2px solid var(--green);
  margin-top: 1em;
  display: block;
}
button:hover,
.btn:hover {
  color: var(--green);
}

body {
  background-color: var(--black);
}

.logo {
  font-size: 3.2rem;
  letter-spacing: -0.33rem;
  font-weight: bold;
  color: var(--white);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
nav.top {
  position: relative;
  top: 20px;
}
nav .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}
nav .social-media li {
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.hero .profile-picture-mobile {
  width: 174px;
  height: 383px;
  background: url("/assets/images/image-profile-mobile.webp") no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  z-index: -1;
}
.hero::before {
  content: "";
  background-image: url("../assets/images/pattern-rings.svg");
  width: 100%;
  height: 129px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  top: 220px;
  left: -220px;
  z-index: -2;
}
.hero::after {
  content: "";
  background-image: url("../assets/images/pattern-circle.svg");
  width: 100%;
  height: 129px;
  background-repeat: no-repeat;
  position: absolute;
  left: 83%;
  top: 335px;
}
.hero .banner {
  margin-top: 4em;
}
.hero .banner .leftCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4em;
  text-align: center;
}
.hero .banner .leftCol span {
  border-bottom: 4px solid var(--green);
}

.skills {
  position: relative;
}
.skills::after {
  content: "";
  background-image: url("../assets/images/pattern-rings.svg");
  width: 100%;
  height: 129px;
  background-repeat: no-repeat;
  position: absolute;
  left: 57%;
  top: 90%;
}
.skills.wrapper {
  padding: 4em 0em;
  border-bottom: 1px solid var(--white);
}
.skills ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2em;
}
.skills ul li {
  text-align: center;
}

.projects .projects-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}
.projects .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .project-list > ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
.projects .project-list .img-project {
  min-width: 345px;
  width: 100%;
  height: 253px;
  margin-bottom: 2em;
}
.projects .project-list ul li:nth-child(1) .img-project {
  background-image: url("../assets/images/thumbnail-project-1-large.webp");
  background-size: cover;
}
.projects .project-list ul li:nth-child(2) .img-project {
  background-image: url("../assets/images/thumbnail-project-2-large.webp");
  background-size: cover;
}
.projects .project-list ul li:nth-child(3) .img-project {
  background-image: url("../assets/images/thumbnail-project-3-large.webp");
  background-size: cover;
}
.projects .project-list ul li:nth-child(4) .img-project {
  background-image: url("../assets/images/thumbnail-project-4-large.webp");
  background-size: cover;
}
.projects .project-list ul li:nth-child(5) .img-project {
  background-image: url("../assets/images/thumbnail-project-5-large.webp");
  background-size: cover;
}
.projects .project-list ul li:nth-child(6) .img-project {
  background-image: url("../assets/images/thumbnail-project-6-large.webp");
  background-size: cover;
}
.projects .project-list .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--grey);
  gap: 1.8em;
  margin-top: 0.8em;
}
.projects .project-list .view-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  margin-top: 1.8em;
}

footer {
  background-color: var(--dark-grey);
}
footer .wrapper {
  padding: 0 1.2em 3em;
}
footer .contact {
  padding: 6em 0em 8.7em;
  border-bottom: 1px solid var(--white);
  position: relative;
}
footer .contact::before {
  content: "";
  width: 100%;
  height: 129px;
  background-image: url("../assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 168px;
  left: -238px;
}
footer .contact .leftCol {
  text-align: center;
}
footer .contact .leftCol h1 {
  margin-bottom: 1em;
}
footer .contact .leftCol p {
  margin-bottom: 4em;
}
footer .contact .rightCol form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .contact .rightCol button {
  width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.2em;
  font-size: 1.6rem;
}
footer nav {
  margin: 3em 0 2em;
}

textarea, input {
  width: 100%;
  min-height: 4.3em;
  padding: 0.5em 2.4em 1.7em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: white;
  resize: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: -0.2rem;
  line-height: 2.6rem;
}

textarea {
  min-height: 10em;
  resize: none;
}

@media only screen and (min-width: 768px) {
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero {
    gap: 2em;
  }
  .hero::before {
    top: 80px;
    left: -296px;
  }
  .hero::after {
    left: 92%;
    bottom: 82px;
    top: unset;
  }
  .hero .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid var(--white);
    height: 543px;
  }
  .hero .banner .leftCol {
    width: 70%;
    text-align: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero .banner .leftCol h1 {
    line-height: 8rem;
    margin-bottom: 4rem;
  }
  .hero .banner .leftCol h1 span {
    color: var(--white);
  }
  .hero .banner .rightCol {
    width: 33%;
  }
  .hero .banner .rightCol::before {
    content: "";
    display: block;
    background-image: url(../assets/images/image-profile-tablet.webp);
    min-width: 322px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -140px;
    right: 0;
    z-index: -3;
  }
  .skills::after {
    left: 78%;
    top: 80%;
  }
  .skills.wrapper {
    padding: 0.2em 3.2em;
    border-bottom: unset;
  }
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .skills ul li {
    text-align: unset;
  }
  .skills ul li h2 {
    margin-bottom: 0.2em;
  }
  .projects .projects-top {
    padding: 0em 1.4em;
  }
  .projects .project-list {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 0em 1.4em;
  }
  .projects .project-list > ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer .contact {
    padding: 6em 8em 8.7em;
  }
  footer .contact::before {
    bottom: 30px;
    left: -350px;
  }
}/*# sourceMappingURL=style.css.map */