@import 'partials/global';
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/buttons';

body {
    background-color: var(--black);
}

.logo {
    font-size: 3.2rem;
    letter-spacing: -.33rem;
    font-weight: bold;
    color: var(--white);
}

main {
    overflow-x: hidden;
}

// Nav

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    &.top {
        position: relative;
        top: 20px;
    }
    
    .social-media {
        display: flex;
        gap: 2.2rem;

        li {
            cursor: pointer;

            a svg:hover {
                filter: brightness(0) saturate(100%) invert(97%) sepia(56%) saturate(1149%) hue-rotate(70deg) brightness(89%) contrast(99%);
            }
        }
    }
}

// Hero //

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .profile-picture-mobile {
        width: 174px;
        height: 383px;
        background: url('/assets/images/image-profile-mobile.webp') no-repeat;
        object-fit: cover;
        background-size: cover;
        z-index: -1;
    }

    &::before {
        content: "";
        background-image: url('../assets/images/pattern-rings.svg');
        width: 100%;
        height: 129px;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        top: 220px;
        left: -220px;
        z-index: -2;
    }

    &::after {
        content: "";
        background-image: url('../assets/images/pattern-circle.svg');
        width: 100%;
        height: 129px;
        background-repeat: no-repeat;
        position: absolute;
        left: 83%;
        top: 335px;
    }

    .banner {
        margin-top: 4em;

        .leftCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.4em;
            text-align: center;

            span {
                border-bottom: 4px solid var(--green);
            }
        }
    
    }
}

// Skills

.skills {
    position: relative;

    &::after {
        content: "";
        background-image: url('../assets/images/pattern-rings.svg');
        width: 100%;
        height: 129px;
        background-repeat: no-repeat;
        position: absolute;
        left: 57%;
        top: 90%;
    }

    &.wrapper {
        padding: 0em 1.6em;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 2em;

        padding: 1.8em 0em;

        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);

        li {
            text-align: center;
        }
    }
}

// Projects

.projects {

    .projects-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4em;
    }

    .project-list {

        display: flex;
        flex-direction: column;
        align-items: center;

        & > ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            align-items: center;
            gap: 4em;
        }

        .img-project {
            min-width: 345px;
            width: 100%;
            height: 253px;
            margin-bottom: 2em;
        }

        ul li:nth-child(1) .img-project {
            background-image: url('../assets/images/thumbnail-project-1-large.webp');
            background-size: cover;
        }

        ul li:nth-child(2) .img-project {
            background-image: url('../assets/images/thumbnail-project-2-large.webp');
            background-size: cover;
        }

        ul li:nth-child(3) .img-project {
            background-image: url('../assets/images/thumbnail-project-3-large.webp');
            background-size: cover;
        }

        ul li:nth-child(4) .img-project {
            background-image: url('../assets/images/thumbnail-project-4-large.webp');
            background-size: cover;
        }

        ul li:nth-child(5) .img-project {
            background-image: url('../assets/images/thumbnail-project-5-large.webp');
            background-size: cover;
        }

        ul li:nth-child(6) .img-project {
            background-image: url('../assets/images/thumbnail-project-6-large.webp');
            background-size: cover;
        }

        .tech-list {
            display: flex;
            color: var(--grey);
            gap: 1.8em;
            margin-top: .8em;
        }

        .view-links ul {
            display: flex;
            gap: 3em;
            margin-top: 1.8em;
        }
    }
}


// Footer

footer {

    background-color: var(--dark-grey);

    .wrapper {
        padding: 0 1.2em 3em;
    }

    .contact {
        padding: 6em 0em 8.7em;
        border-bottom: 1px solid var(--white);
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 129px;
            background-image: url('../assets/images/pattern-rings.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 168px;
            left: -238px;
        }

        .leftCol {
            text-align: center;

            h1 {
                margin-bottom: 1em;
            }

            p {
                margin-bottom: 4em;
            }
        }

        .rightCol {

            form {
                display: flex;
                flex-direction: column;
            }

            button {
                width: 142px;
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                align-items: center;
                margin-top: 3.2em;
                font-size: 1.6rem;
            }
        }
    }

    nav {
        margin: 3em 0 2em;
    }
}

// Form

textarea, input {
    width: 100%;
    min-height: 4.3em;
    padding: .5em 2.4em 1.7em;
    margin-bottom: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    color: white;
    resize: none;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: -.2rem;
    line-height: 2.6rem;
}

.display-block {
    display: block;
}

input:focus,
textarea:focus {
    outline: none;
}

input:required:placeholder-shown {
    border-color: var(--white);
}

input:required:valid {
    border-color: var(--green);
}

input:invalid {
    border-color: var(--red);
}

input:focus:invalid {
    background: url('../assets/images/error-form.svg') no-repeat 95% 50%;
    background-size: 20px;
    border-color: var(--red);
}

input:focus:invalid::after {
    content: "test";
    font-size: 1.1rem;
    color: var(--red);
    display: block;
    text-align: right;
}

textarea {
    min-height: 10em;
    resize: none;   
}

@media only screen and (min-width: 768px) {

    // Nav
    nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    // Hero

    .hero {
        gap: 2em;

        &::before {
        top: 80px;
        left: -296px;
        }

        &::after {
            left: 92%;
            bottom: 82px;
            top: unset;
        }

        .banner {
            display: flex;
            border-bottom: 1px solid var(--white);
            height: 543px;

            .leftCol {
                width: 70%;
                text-align: unset;
                align-items: flex-start;

                h1 {
                    line-height: 8rem;
                    margin-bottom: 4rem;

                    span {
                        color: var(--white);
                    }
                }
            }

            .rightCol {
                width: 33%;

                &::before {
                    content: "";
                    display: block;
                    background-image: url(../assets/images/image-profile-tablet.webp);
                    min-width: 322px;
                    width: 100%;
                    height: 600px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    top: -140px;
                    right: 0;
                    z-index: -3;
                }
            }
        }
    }

    // Skills

    .skills {

        &::after {
            left: 78%;
            top: 80%;
        }

        &.wrapper {
            padding: .2em 3.2em;
            border-bottom: unset;
        }

        ul {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);    
            border-top: unset;
            border-bottom: unset;
            padding: unset;

            li {
                text-align: unset;

                h2 {
                    margin-bottom: .2em;
                }
            }
        }
        
    }


    // Projects

    .projects {

        .projects-top {
            padding: 0em 1.4em;
        }

        .project-list {
            align-items: unset;
            padding: 0em 1.4em;

            & > ul {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }


    // Footer

    footer {

        .contact {
            padding: 6em 8em 8.7em;

            &::before {
                bottom: 30px;
                left: -350px;
            }
        }
    }

}


@media only screen and (min-width: 1100px) {

    // Hero

    .hero {

        &::after {
            left: 64%;
            bottom: 110px;
        }

        .banner {
            .rightCol {
        
                &::before {
                    right: -16px;
                }
            }
        }
    }

    // Skills

    .skills {

        ul {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 9em;
            row-gap: 5.8em;
        }
    }

    // Projects

    .project-list {
        .img-project {

            &:hover > .desktop-view-links {
                display: flex;
            }

            .desktop-view-links {
                background-color: hsl(0deg, 0%, 8%, 70%);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // Contact

    footer {
        .contact {
            display: flex;
            flex-direction: row;
            gap: 10em;
            padding: 6em 1em 5.7em;

            &::before {
                bottom: 54px;
            }
    
            .leftCol {
                flex: 2;
                text-align: left;
            }
    
            .rightCol {
                min-width: 445px;
                flex: 1;
            }
        }
    }
}