* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

img, picture {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.6em;
}

section {
  margin-bottom: 10rem !important;
}

.hide-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: inherit;
  }
}
:root {
  --green: hsl(153deg, 71%, 59%);
  --black: hsl(0deg, 0%, 8%);
  --dark-grey: hsl(0deg, 0%, 14%);
  --grey: hsl(0deg, 0%, 85%);
  --white: hsl(0deg, 0%, 100%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  color: var(--white);
}

p, span {
  color: var(--grey);
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.11rem;
  line-height: 4rem;
}

h2 {
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

p {
  line-height: 2.6rem;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 8.8rem;
    letter-spacing: -0.2rem;
    line-height: 8.8rem;
  }
  h2 {
    font-size: 4.8rem;
    letter-spacing: -0.15rem;
    line-height: 5.6rem;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
.btn {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--green);
  border-bottom: 2px solid var(--green);
  margin-top: 1em;
  display: block;
}
.btn:hover {
  color: var(--green);
}

body {
  background-color: var(--black);
}

.logo {
  font-size: 3.2rem;
  letter-spacing: -0.33rem;
  font-weight: bold;
  color: var(--white);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
nav.top {
  position: relative;
  top: 20px;
}
nav .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}
nav .social-media li {
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hero .profile-picture-mobile {
  width: 174px;
  height: 383px;
  background: url("/assets/images/image-profile-mobile.webp") no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  z-index: -1;
}
.hero::before {
  content: "";
  background-image: url("../assets/images/pattern-rings.svg");
  width: 100%;
  height: 129px;
  background-repeat: no-repeat;
  position: absolute;
  top: 220px;
  left: -220px;
  z-index: -2;
}
.hero::after {
  content: "";
  background-image: url("../assets/images/pattern-circle.svg");
  width: 100%;
  height: 129px;
  background-repeat: no-repeat;
  position: absolute;
  left: 83%;
  top: 335px;
}
.hero .banner {
  margin-top: 4em;
}
.hero .banner .leftCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4em;
  text-align: center;
}
.hero .banner .leftCol span {
  border-bottom: 4px solid var(--green);
}

textarea, input {
  width: 100%;
  min-height: 4.3em;
  padding: 0.5em 2.4em 1.7em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: white;
  resize: none;
  font-weight: 500;
  line-height: -0.2rem;
  line-height: 2.6rem;
}

textarea {
  min-height: 10em;
  resize: none;
}/*# sourceMappingURL=style.css.map */