* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img, picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

section {
    margin-bottom: 10rem !important; 
}

