* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

img, picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 1.6em;
}

section {
    margin-bottom: 10rem !important; 
}

.hide-mobile {
    display: none;
}

// Tablet
@media only screen and (min-width: 768px) {

    nav {
        flex-direction: row;

    }

    .show-mobile {
        display: none;
    }

    .hide-mobile {
        display: inherit;
    }
}