*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

:root {
  --blue: hsl(227deg, 92%, 58%);
  --radio-blue: hsla(227deg, 92%, 58%, 0.5);
  --text: hsl(215deg, 17%, 45%);
  --titles: hsl(215deg, 31%, 21%);
  --borders: hsl(200deg, 24%, 88%);
  --pure-white: hsl(0deg, 0%, 100%);
}

h1,
h2,
h3,
h4 {
  color: var(--titles);
}

p {
  color: var(--text);
}

label {
  color: var(--titles);
}
label span {
  color: var(--blue);
}

input[type=number] {
  color: var(--titles);
}

.calculator-result p,
.calculator h1 {
  color: var(--pure-white);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 2.4rem 3.2rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .hero {
    padding: 3.2rem 4.3rem 2rem 3.9rem;
  }
}

.hide {
  display: none !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body {
  font-family: "Inter", sans-serif;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 4.8rem;
    line-height: 5.28rem;
  }
}

h2 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 540px) {
  h2 {
    font-size: 3.2rem;
    line-height: 3.52rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

span {
  font-size: 1.4rem;
  font-weight: 400;
}

label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
label span {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
}

input[type=number] {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.05em;
  letter-spacing: -0.05rem;
}

.result-right p {
  font-size: 1.4rem;
  font-weight: 400;
}

body {
  background-color: var(--pure-white);
}

.hero {
  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  min-height: 64rem;
}
.hero header {
  margin-bottom: 2.4rem;
}
.hero header img {
  width: 40px;
}
@media screen and (min-width: 1440px) {
  .hero header img {
    width: 64px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .hero header img {
    width: 64px;
  }
}
.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.hero .hero-content .hero-left {
  text-align: center;
  margin-bottom: 4.8rem;
}
.hero .hero-content .hero-left h1 {
  margin-bottom: 2.4rem;
}
.hero .hero-content .hero-right {
  position: inherit;
}
.hero .hero-content .hero-right .calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 64.9rem;
  padding: 2.4rem;
  background-color: var(--pure-white);
  -webkit-box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
          box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .hero .hero-content .hero-right .calculator {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: unset;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .hero .hero-content .hero-right .calculator {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: unset;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero-content .hero-right .calculator {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: unset;
  }
}
.hero .hero-content .hero-right .calculator form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero .hero-content .hero-right .calculator form .radio-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.6rem;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container {
  display: block;
  position: relative;
  padding-left: 4.7rem;
  margin-bottom: 3.2rem;
  min-height: 3.1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container input:checked ~ .checkmark {
  background-color: var(--radio-blue);
  border: none;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container input:checked ~ .checkmark::after {
  display: block;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.1rem;
  width: 3.1rem;
  border: 1px solid var(--borders);
  border-radius: 50%;
  margin-right: 1.8rem;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container .checkmark:hover {
  border: 1px solid var(--blue);
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.hero .hero-content .hero-right .calculator form .radio-options .radio-container .checkmark::after {
  top: 8px;
  left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue);
}
.hero .hero-content .hero-right .calculator form .number-options,
.hero .hero-content .hero-right .calculator form .number-imperial-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .hero .hero-content .hero-right .calculator form .number-options,
  .hero .hero-content .hero-right .calculator form .number-imperial-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .hero .hero-content .hero-right .calculator form .number-options,
  .hero .hero-content .hero-right .calculator form .number-imperial-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero-content .hero-right .calculator form .number-options,
  .hero .hero-content .hero-right .calculator form .number-imperial-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.hero .hero-content .hero-right .calculator form .number-options label,
.hero .hero-content .hero-right .calculator form .number-imperial-options label {
  font-size: 1.4rem;
  position: relative;
}
.hero .hero-content .hero-right .calculator form .number-options label span,
.hero .hero-content .hero-right .calculator form .number-imperial-options label span {
  position: absolute;
  display: block;
  z-index: 8;
  top: 50%;
  right: 2.4rem;
}
.hero .hero-content .hero-right .calculator form .number-options input[type=number],
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 6.9rem;
  padding: 2rem 7.8rem 2rem 2.4rem;
  border: 1px solid var(--borders);
  border-radius: 12px;
  margin-top: 0.8rem;
  display: block;
  cursor: pointer;
}
.hero .hero-content .hero-right .calculator form .number-options input[type=number]:hover, .hero .hero-content .hero-right .calculator form .number-options input[type=number]:active, .hero .hero-content .hero-right .calculator form .number-options input[type=number]:focus-visible,
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number]:hover,
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number]:active,
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number]:focus-visible {
  border: 1px solid var(--blue);
  outline: none;
}
.hero .hero-content .hero-right .calculator form .number-options input[type=number]::after,
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number]::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  display: block;
}
.hero .hero-content .hero-right .calculator form .number-imperial-options {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero-content .hero-right .calculator form .number-imperial-options input[type=number] {
  padding: 2rem 5.8rem 2rem 2.4rem;
}
.hero .hero-content .hero-right .calculator .calculator-result {
  padding: 3.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#345FF7), to(#587DFF));
  background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
  border-radius: 16px;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .hero .hero-content .hero-right .calculator .calculator-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19.2rem;
    border-radius: 16px 999px 999px 16px;
  }
}
.hero .hero-content .hero-right .calculator .calculator-result h1 {
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .hero .hero-content .hero-right .calculator .calculator-result h1 {
    margin-bottom: unset;
  }
}

.bmi-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem;
  position: relative;
  margin-top: 56rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .bmi-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .bmi-details .bmi-details-left {
    position: relative;
    left: -8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 2 32.9rem;
            flex: 1 2 32.9rem;
  }
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .bmi-details .bmi-details-left img {
    width: 435px;
  }
}
.bmi-details .bmi-details-right {
  padding: 0rem 1.9rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .bmi-details .bmi-details-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 31rem;
            flex: 2 1 31rem;
    padding-left: 0;
    padding-right: 4.3rem;
  }
}
.bmi-details .bmi-details-right h2 {
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 1140px) and (min-width: 768px) {
  .bmi-details .bmi-details-right h2 {
    font-size: 3.2rem;
  }
}

.tips {
  background: linear-gradient(290.1deg, #fdfffe 0%, #f7faff 100%);
  padding: 5.6rem 2.2rem 5.6rem 1.904rem;
  margin-top: 7.61rem;
}
.tips ul li {
  margin-bottom: 4rem;
}
.tips ul li img {
  margin-bottom: 3.2rem;
}
.tips ul li h3 {
  margin-bottom: 2.4rem;
}

.limitations .limitations-right {
  text-align: center;
  padding: 0 2.9rem 0 1.9rem;
}
.limitations .limitations-right h2 {
  margin-bottom: 3.2rem;
}
.limitations .limitations-right p {
  margin-bottom: 5.6rem;
}
.limitations .limitations-left {
  padding: 1rem 2.8rem 8rem 1.9rem;
}
.limitations .limitations-left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  background: #FFFFFF;
  -webkit-box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
          box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 1.6rem;
}
.limitations .limitations-left ul li header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}/*# sourceMappingURL=main.css.map */