@import 'partials/global';
@import 'partials/typography.scss';
@import 'partials/colors';


.bg-mobile {
    width: 100%;
    min-height: 667px;
    background: url('../../assets/mobile/image-host.jpg') no-repeat;
    background-size: cover;
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    width: 134.85px;
    height: 56px;
    background-image: url('../assets/desktop/logo.svg');
    margin: 0 auto 5.4em;
}


section {
    .leftContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            color: var(--white);
            margin-bottom: 1.6em;

            span {
                color: var(--primary-green);
            }
        }

        p {
            color: var(--lighter-blue);
            margin-bottom: 3.5em;
        }

        form, .btn {
            order: 2;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;

            input[type="email"] {
                background-color: var(--form-blue);
                border: none;
                height: 46px;
                padding: .9rem .2rem .9rem 3.2rem;
                border-radius: 28px;
                color: var(--white);
                font-weight: bold;

                &:focus {
                    outline: none;
                }
            }

            .btn {
                display: block;
                height: 46px;
                background-color: var(--primary-green);
                color: var(--bg-blue);
                text-decoration: none;
                border-radius: 28px;
                transition: .3s ease;

                padding: 1em 0;
                margin-top: 1.4rem;

                &:hover {
                    background-color: #B3FFE2;
                }
            }

            .error {
                margin-top: .8rem;
                color: #FB3E3E;
                text-align: left;
                padding-left: 3.2rem;
            }

            ::placeholder {
                color: var(--white);
                opacity: .5;
                font-weight: bold;
            }
        }

        .players {
            display: flex;
            align-items: center;
            gap: 2.3em;
            margin-bottom: 4.8em;
        }
    }
}