@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-blue);
}

img, picture {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1275px;
  min-height: 667px;
  margin: 6.2em 2.4em 9.4em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hide-tablet {
  display: unset;
}

@media only screen and (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}
body {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 2.9rem;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}

a, form {
  font-size: 1.4rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 5.6rem;
  }
  p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;
  }
  a, form {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 5.2rem;
    font-weight: 300;
    line-height: 6.2rem;
  }
}
:root {
  --primary-green: hsl(157deg, 74%, 62%);
  --lighter-blue: hsl(225deg, 40%, 83%);
  --form-blue: hsl(225deg, 26%, 23%);
  --bg-blue: hsl(224deg, 35%, 11%);
  --white: hsl(0deg, 0%, 100%);
  --dkr-blue: hsl(225deg, 21%, 45%);
}

.bg-mobile {
  width: 100%;
  min-height: 667px;
  background: url("../../assets/mobile/image-host.jpg") no-repeat;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  width: 134.85px;
  height: 56px;
  background-image: url("../assets/desktop/logo.svg");
  margin: 0 auto 5.4em;
}

section .leftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
section .leftContent h1 {
  color: var(--white);
  margin-bottom: 1.6em;
}
section .leftContent h1 span {
  color: var(--primary-green);
}
section .leftContent p {
  color: var(--lighter-blue);
  margin-bottom: 3.5em;
}
section .leftContent form, section .leftContent .btn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
section .leftContent form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section .leftContent form input[type=email] {
  background-color: var(--form-blue);
  border: none;
  height: 46px;
  padding: 0.9rem 0.2rem 0.9rem 3.2rem;
  border-radius: 28px;
  color: var(--white);
  font-weight: bold;
}
section .leftContent form input[type=email]:focus {
  outline: none;
}
section .leftContent form .btn {
  display: block;
  height: 46px;
  background-color: var(--primary-green);
  color: var(--bg-blue);
  text-decoration: none;
  border-radius: 28px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 1em 0;
  margin-top: 1.4rem;
}
section .leftContent form .btn:hover {
  background-color: #B3FFE2;
}
section .leftContent form .error {
  margin-top: 0.8rem;
  color: #FB3E3E;
  text-align: left;
  padding-left: 3.2rem;
}
section .leftContent form ::-webkit-input-placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
}
section .leftContent form ::-moz-placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
}
section .leftContent form :-ms-input-placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
}
section .leftContent form ::-ms-input-placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
}
section .leftContent form ::placeholder {
  color: var(--white);
  opacity: 0.5;
  font-weight: bold;
}
section .leftContent .players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3em;
  margin-bottom: 4.8em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 5em 9.4em 25.7em 3.9em;
  }
  main::before {
    content: "";
    background: url("../assets/tablet/image-host.jpg") no-repeat;
    min-width: 491px;
    height: 767px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  main::after {
    content: "";
    background: url("../assets/desktop/bg-pattern-dots.svg") no-repeat;
    width: 232px;
    height: 104px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 3.9em;
    z-index: -1;
  }
  main .logo {
    margin: 0em 0em 15.2em 3.9em;
  }
  main section {
    padding-top: 9.3em;
    background: var(--bg-blue);
  }
  main section .leftContent {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section .leftContent h1 {
    margin-bottom: 3.1rem;
  }
  main section .leftContent p {
    margin-bottom: 4rem;
    padding-right: 19rem;
  }
  main section .leftContent form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  main section .leftContent form input[type=email] {
    min-width: 475px;
    height: 56px;
    position: absolute;
  }
  main section .leftContent form .btn {
    min-width: 162px;
    height: 46px;
    position: relative;
    left: 303px;
    margin-top: 0;
    margin: 0.4em;
    text-align: center;
  }
  main section .leftContent form .error {
    position: absolute;
    bottom: -31px;
  }
  main section .leftContent .players {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 6.4em;
    margin-bottom: 2.75em;
  }
}
@media only screen and (min-width: 1069px) {
  .wrapper {
    margin: 10.2em 0em 13em 16.5em;
    position: relative;
  }
  main::before {
    content: "";
    background: url("../assets/desktop/image-host.jpg") no-repeat;
    min-width: 888px;
    height: 654px;
    top: 3em;
    background-size: cover;
  }
  main::after {
    content: "";
    background: url("../assets/desktop/bg-pattern-dots.svg") no-repeat;
    bottom: -48px;
    left: unset;
    right: 0;
    z-index: -1;
  }
  main section {
    max-width: 723px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-top: 8.8em;
    padding-right: 5.8em;
    padding: 7.8em 5.8em 0 0;
  }
  main section .leftContent h1 {
    margin-bottom: 2.4rem;
  }
  main section .leftContent p {
    padding-right: 21rem;
  }
  main section .leftContent .players {
    margin-top: 6.4em;
  }
  main .logo {
    margin: 0em 0em 13em 0em;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper {
    margin: 13em auto;
    position: relative;
  }
  main::before {
    content: "";
    background: url("../assets/desktop/image-host.jpg") no-repeat;
    min-width: 888px;
    height: 640px;
    top: 4em;
  }
}/*# sourceMappingURL=style.css.map */