@import 'reset';
@import 'colors';
@import 'layout';
@import 'typography';


header {
    height: 14.5rem;
    background: url('/images/pattern-circles.svg') no-repeat center;
    text-align: center;
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;

    h1 {
        margin-bottom: .8rem;
    }
}