* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --pricing-background: hsl(0, 0%, 100%);
  --main-background: hsl(230, 100%, 99%);
  --text: hsl(225, 20%, 60%);
  --slider-full-background: hsl(174, 86%, 45%);
  --hover-slider-button: hsl(174, 73%, 70%);
  --grab-slider-button: hsl(174, 65%, 41%);
  --slider-bar: hsl(174, 77%, 80%);
  --slider-empty-bar: hsl(224, 65%, 95%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --toggle-bg: hsl(223, 50%, 87%);
  --cta-text: hsl(226, 100%, 87%);
  --cta-color: hsl(227, 35%, 25%);
}

body {
  background: url("/images/bg-pattern.svg") no-repeat;
  background-color: var(--main-background);
}

.container {
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  padding: 5.3rem 2.4rem;
}
@media screen and (max-width: 1440px) and (min-width: 540px) {
  .container {
    padding: 5.6rem 0;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 5.6rem 0;
  }
}

@media screen and (max-width: 540px) {
  .hide-mobile {
    display: none;
  }
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--text);
}

h1 {
  color: var(--cta-color);
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3.825rem;
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 2rem;
    line-height: 2.732rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.049rem;
}
@media screen and (max-width: 540px) {
  h2 {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.639rem;
}

.billing p {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 1.912rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (max-width: 540px) {
  .billing p {
    font-size: 1.2rem;
    letter-spacing: 0.171rem;
    line-height: 1.639rem;
  }
}
.billing .price p {
  font-size: 1.6rem;
  line-height: 2.186rem;
  font-weight: 600;
  text-transform: lowercase;
}
@media screen and (max-width: 540px) {
  .billing .price p {
    font-size: 1.4rem;
    line-height: 1.912rem;
  }
}
.billing .price p span {
  color: var(--cta-color);
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 5.464rem;
  font-weight: 800;
}
@media screen and (max-width: 540px) {
  .billing .price p span {
    font-size: 3.2rem;
    letter-spacing: -0.2rem;
    line-height: 4.371rem;
  }
}
.billing .year-month-switcher p {
  text-transform: none;
  font-weight: 600;
  letter-spacing: normal;
}
.billing .year-month-switcher .discount {
  font-size: 1rem;
  text-align: center;
}

a {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--cta-text);
}

header {
  height: 14.5rem;
  background: url("/images/pattern-circles.svg") no-repeat center;
  text-align: center;
  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
}
header h1 {
  margin-bottom: 0.8rem;
}

main {
  background-color: var(--main-background);
  padding: 3.4rem 2.4rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
          box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  position: relative;
}

.billing {
  display: grid;
  row-gap: 2.4rem;
  text-align: center;
  grid-template-areas: "pageviews" "slider" "price" "switcher";
}
.billing p {
  grid-area: pageviews;
}
.billing .scroller {
  grid-area: slider;
}
.billing .price {
  grid-area: price;
}
.billing .year-month-switcher {
  grid-area: switcher;
}

.year-month-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.8rem;
}
.year-month-switcher li:nth-child(2) {
  margin: 0 0.8rem;
}
.year-month-switcher .discount {
  background-color: var(--discount-bg);
  color: var(--discount-text);
  padding: 0.1rem 0.8rem;
  height: 1.9rem;
  border-radius: 9.5px;
}
@media screen and (min-width: 1440px) {
  .year-month-switcher .discount {
    padding: 0rem 0.7rem;
  }
}
@media screen and (max-width: 1440px) and (min-width: 540px) {
  .year-month-switcher .discount {
    padding: 0rem 0.7rem;
  }
}

.line {
  width: 100%;
  max-width: 54rem;
  height: 0.1rem;
  background-color: var(--slider-empty-bar);
  position: absolute;
  left: 0;
}

.plan-details-trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
  margin-top: 2.4rem;
}
.plan-details-trial li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.605rem;
  margin-bottom: 1rem;
}
.plan-details-trial li::before {
  content: "";
  background: url("../images/icon-check.svg");
  width: 7.95px;
  height: 7.04px;
  display: block;
}
.plan-details-trial .btn-trial {
  width: 17rem;
  height: 4.1rem;
  padding: 1.2rem 4.6rem;
  border-radius: 2.5rem;
  text-align: center;
  background-color: var(--cta-color);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.plan-details-trial .btn-trial:hover {
  color: white;
}

.scroller input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--slider-empty-bar);
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, var(--hover-slider-button)), color-stop(60%, var(--slider-empty-bar)));
  background: linear-gradient(90deg, var(--hover-slider-button) 60%, var(--slider-empty-bar) 60%);
}
.scroller input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: url("../images/icon-slider.svg") var(--slider-full-background) no-repeat center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
          box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.scroller input[type=range]::-webkit-slider-thumb:hover {
  background: url("../images/icon-slider.svg") var(--hover-slider-button) no-repeat center;
}
.scroller input[type=range]::-webkit-slider-thumb:active {
  background: url("../images/icon-slider.svg") var(--grab-slider-button) no-repeat center;
}
.scroller input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: url("../images/icon-slider.svg") var(--slider-full-background) no-repeat center;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  border: none;
  cursor: pointer;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
}
.scroller input[type=range]::-moz-range-thumb:hover {
  background: url("../images/icon-slider.svg") var(--hover-slider-button) no-repeat center;
}
.scroller input[type=range]::-moz-range-thumb:active {
  background: url("../images/icon-slider.svg") var(--grab-slider-button) no-repeat center;
}
.scroller input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: url("../images/icon-slider.svg") var(--slider-full-background) no-repeat center;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  border: none;
  cursor: pointer;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.scroller input[type=range]::-ms-thumb:hover {
  background: url("../images/icon-slider.svg") var(--hover-slider-button) no-repeat center;
}
.scroller input[type=range]::-ms-thumb:active {
  background: url("../images/icon-slider.svg") var(--grab-slider-button) no-repeat center;
}
.scroller input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}
.scroller input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.scroller input[type=range]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}/*# sourceMappingURL=main.css.map */