@import 'reset';
@import 'colors';
@import 'layout';
@import 'typography';


header {
    height: 14.5rem;
    background: url('/images/pattern-circles.svg') no-repeat center;
    text-align: center;
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;

    h1 {
        margin-bottom: .8rem;
    }
}

main {
    background-color: var(--main-background);
    padding: 3.4rem 2.4rem;
    border-radius: .8rem;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    position: relative;
}

.billing {
    display: grid;
    row-gap: 2.4rem;
    text-align: center;
    grid-template-areas: 
    "pageviews"
    "slider"
    "price"
    "switcher";

    p {
        grid-area: pageviews;
    }

    .scroller {
        grid-area: slider;
    }

    .price {
        grid-area: price;
    }

    .year-month-switcher {
        grid-area: switcher;
    }
}

.year-month-switcher {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    align-items: center;
    margin-bottom: 3.8rem;

    li:nth-child(2) {
        margin: 0 .8rem;
    }

    .discount {
        background-color: var(--discount-bg);
        color: var(--discount-text);
        padding: .1rem .8rem;
        height: 1.9rem;
        border-radius: 9.5px;

        @include responsive(PCH) {
            padding: 0rem .7rem;
        }

        @include responsive(PC) {
            padding: 0rem .7rem;
        }
    }
}

.line {
    width: 100%;
    max-width: 54rem;
    height: .1rem;
    background-color: var(--slider-empty-bar);
    position: absolute;
    left: 0;
}

.plan-details-trial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    margin-top: 2.4rem;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.605rem;
        margin-bottom: 1rem;

        &::before {
            content: "";
            background: url('../images/icon-check.svg');
            width: 7.95px;
            height: 7.04px;
            display: block;
        }
    }

    .btn-trial {
        width: 17rem;
        height: 4.1rem;
        padding: 1.2rem 4.6rem;
        border-radius: 2.5rem;
        text-align: center;
        background-color: var(--cta-color);
        cursor: pointer;
        transition: .3s ease;
        
        &:hover {
            color: white;
        }
    }
}

.scroller {
    
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: .8rem;
        border-radius: .5rem;
        background-color: var(--slider-empty-bar);
        background: linear-gradient(90deg, var(--hover-slider-button) 60%, var(--slider-empty-bar) 60%);

        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            background: url('../images/icon-slider.svg') var(--slider-full-background) no-repeat center;
            box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                background: url('../images/icon-slider.svg') var(--hover-slider-button) no-repeat center;
            }

            &:active {
                background: url('../images/icon-slider.svg') var(--grab-slider-button) no-repeat center;
            }
        }

        &::-moz-range-thumb{
            -webkit-appearance: none;
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            background: url('../images/icon-slider.svg') var(--slider-full-background) no-repeat center;
            box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
            border: none;
            cursor: pointer;
            transition: .2s ease;

            &:hover {
                background: url('../images/icon-slider.svg') var(--hover-slider-button) no-repeat center;
            }

            &:active {
                background: url('../images/icon-slider.svg') var(--grab-slider-button) no-repeat center;
            }
        }

        &::-ms-thumb{
            -webkit-appearance: none;
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            background: url('../images/icon-slider.svg') var(--slider-full-background) no-repeat center;
            box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
            border: none;
            cursor: pointer;
            transition: .2s ease;

            &:hover {
                background: url('../images/icon-slider.svg') var(--hover-slider-button) no-repeat center;
            }

            &:active {
                background: url('../images/icon-slider.svg') var(--grab-slider-button) no-repeat center;
            }
        }

        &::-webkit-slider-runnable-track  {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        &::-moz-range-track  {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        &::-ms-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

    }
}