* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

html,
input {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

input[type=number] {
  appearance: textfield;
}