:root {
    --primary-green: hsl(157deg, 74%, 62%);
    --lighter-blue: hsl(225deg, 40%, 83%);
    --form-blue: hsl(225deg, 26%, 23%);
    --bg-blue: hsl(224deg, 35%, 11%);
    --white: hsl(0deg, 0%, 100%);
    --dkr-blue: hsl(225deg, 21%, 45%);
}