* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-blue);
}


img, picture {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1275px;
    min-height: 667px;
    padding: 6.2em 2.4em 9.4em;
}

.hide-tablet {
    display: unset;
}

//Tablet

@media only screen and (min-width: 768px) {

    .hide-tablet {
        display: none;
    }
}

// Desktop

@media only screen and (min-width: 1100px) {
    .wrapper {
        margin: 13em 0 13em 16.5em;
    }

}