:root {
    --baseT-blue: hsl(212deg, 100%, 50%);
    --lght-red: hsl(0, 91%, 62%);
    --bg-color: hsl(227deg, 100%, 98%);
    --title-color: hsl(217deg, 21%, 21%);
    --box-el-color: hsl(0deg, 0%, 100%);
    --p-color: hsl(217deg, 35%, 45%);

    --bg-color-light: hsl(227deg, 100%, 98%);
    --title-color-light: hsl(217deg, 21%, 21%);
    --box-el-color-light: hsl(0deg, 0%, 100%);
    --p-color-light: hsl(217deg, 35%, 45%);


    --bg-color-dark: hsl(220deg, 40%, 13%);
    --title-color-dark: hsl(0deg, 0%, 100%);
    --box-el-color-dark: hsl(222deg, 41%, 20%);
    --p-color-dark: hsl(0deg, 0%, 100%);
}

@media(prefers-color-scheme: light) {
    :root {
        --bg-color: var(--bg-color-light);
        --title-color: var(--title-color-light);
        --box-el-color: var(--box-el-color-light);
        --p-color: var(--p-color-light);
        --shadow-color:70, 96, 187;
        --bxshadow: 0px 16px 30px -10px rgba(var(--shadow-color), 0.198567) ;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--bg-color-dark);
        --title-color: var(--title-color-dark);
        --box-el-color: var(--box-el-color-dark);
        --p-color: var(--p-color-dark);
        --shadow-color: none;
        --bxshadow: none;
    }
}

[color-scheme="light"] {
    --bg-color: var(--bg-color-light);
    --title-color: var(--title-color-light);
    --box-el-color: var(--box-el-color-light);
    --p-color: var(--p-color-light);
    --shadow-color:70, 96, 187;
    --bxshadow: 0px 16px 30px -10px rgba(var(--shadow-color), 0.198567) ;
}

[color-scheme="dark"] {
    --bg-color: var(--bg-color-dark);
    --title-color: var(--title-color-dark);
    --box-el-color: var(--box-el-color-dark);
    --p-color: var(--p-color-dark);
    --shadow-color: none;
    --bxshadow: none;
}