$container-xl: 1440px;
$container-l: 1140px;
$container-m: 768px;
$container-s: 540px;
$container-xs: 375px;

@mixin responsive($device) {
    @if $device == PCH {
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device == PC {
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }

    @else if $device == tablet {
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device == phone {
        @media screen  and (max-width: $container-s) {
            @content;
        }
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 73rem;
    padding: 3.1rem 2.4rem;

    @include responsive(tablet) {
        padding: 14rem 7.4rem;
    }

    @include responsive(PC) {
        padding: 14rem 0rem;
    }

    @include responsive(PCH) {
        padding: 14rem 0rem;
    }
}


.hide-mobile {
    display: none;
    
    @include responsive(tablet) {
        display: none;
    }

    @include responsive(phone) {
        display: none;
    }
}

.hide-desktop {
    @include responsive(PC) {
        display: none;
    }

    @include responsive(PCH) {
        display: none;
    }
}